SampleData/CSEventSampleData/CSEventSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.CSEventSampleData" targetNamespace="Expression.Blend.SampleData.CSEventSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nodes" type="tns:nodes" />
  <xs:complexType name="nodes">
    <xs:sequence>
      <xs:element name="nodeCollection" type="tns:nodeCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nodeCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="node" type="tns:node" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="node">
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="guid" type="xs:double" />
    <xs:attribute name="postdate" type="xs:string" />
    <xs:attribute name="startdate" type="xs:string" />
    <xs:attribute name="location" type="xs:string" />
    <xs:attribute name="tag" type="xs:string" />
    <xs:attribute name="link" type="xs:string" />
  </xs:complexType>
</xs:schema>